<p class="about-intro-description">
	Welcome ViTA <b>Vi</b>sual <b>T</b>ext <b>A</b>nalytics for Digital Humanities.
</p>


<div class="about-section">
	There are many text documents, books, papers unread in the world and the count increases over time.
	It is impossible to read all the documents much less to extract all the information, whereas the computer can work with these enormous amounts.
	The project ViTA is a prototype for the visual text analytics.
	The system offers multiple views on the chosen document. The focus of ViTA is the offering of different types of visualization, which will facilitate the data mining of the document.
	ViTA is a web application and was created to support and assist people in their analyse of text documents and digital books through visualizations.
	The Idea is simple, the user can import digital books and ViTA automatically identifies the occurred places, persons and their relation.
	<br/>
	The web application ViTA is composed of 5 Visualizations:
	<ul>
		<li>Document View</li>
		<li>Fingerprint</li>
		<li>Word Cloud</li>
		<li>Graph Network</li>
		<li>Plot View</li>
	</ul>
</div>

<div class="participants-section">
	ViTA has been developed in a student project 2014/2015 at the University of Stuttgart.
	<br/>
	Participants:
	Sanjeev Balakrishnan,
	Felix Do,
	Sebastian Frank,
	Paul Kuznecov,
	Vincent Link,
	Eduard Marbach (assistant project leader),
	Jan Melcher (project leader),
	Christian Richter,
	Marc Weise and
	Marvin Wyrich.
</div>
