<div class="row">

  <div class="col-md-6">
    <div data-document-upload></div>

    <div>
      <h2>Existing documents</h2>
      <div class="list-group">
        <a data-document-list-item class="list-group-item" href="" ng-repeat="document in documents"
          data-document="document" ng-class="{active: isDocumentSelected(document)}"
          data-reload-documents="loadDocuments()" ng-click="setSelectedDocument(document)"></a>
      </div>
    </div>
  </div>

  <div class="col-md-6" ng-show="selectedDocument">
    <div data-document-preview data-document="selectedDocument"></div>
    <div>
      <button type="button" class="btn btn-default btn-sm" ng-click="renameDocument()">
        <span class="glyphicon glyphicon-edit"></span> Rename
      </button>
      <a class="btn btn-success pull-right" ng-href="#/documents/{{selectedDocument.id}}">Show
        document</a>
    </div>
  </div>

</div>
