<div class="container">
  <div class="row">
    <div class="col-md-2">
      <div ng-include="'partials/menu.html'"></div>
    </div>
    <div class="col-md-10">
      <div class="row filterable-list">
        <div class="col-md-4">
          <button type="button" class="btn btn-default btn-block">Reset</button>
          <input type="search" ng-model="search" placeholder="Search..." class="form-control"
            style="margin-top: 5px; margin-bottom: 5px;">
          <div ng-controller="PersonListCtrl" class="list-group" id="list1">
            <a ng-repeat="person in persons | entityNameFilter:search | orderBy: 'rankingValue'"
	       class="list-group-item" ng-class="{active: activeFingerprints.indexOf(person.id) > -1}" ng-click="onclick(person.id)">{{person.displayName}}</a>
          </div>
        </div>
        <div class="col-md-8">
          <div data-fingerprint class="fingerprint-container" data-entity-ids="activeFingerprints"
            data-parts="parts"></div>
        </div>
      </div>
    </div>
  </div>
</div>
