<div class="container">
  <div class="row">
    <div class="col-md-2">
      <div ng-include="'partials/menu.html'"></div>
    </div>
    <div class="col-md-10">
      <div class="row filterable-list">
        <div class="col-md-4">
          <input type="search" ng-model="search" placeholder="Search..." class="form-control filter">
          <div class="list-group" id="list1">
            <a href="#" class="list-group-item active">Characters <input title="toggle all" type="checkbox" class="all pull-right"></a>
            <a href="#" class="list-group-item">Second item <input type="checkbox" class="pull-right"></a>
            <a href="#" class="list-group-item">Third item <input type="checkbox" class="pull-right"></a>
            <a href="#" class="list-group-item">More item <input type="checkbox" class="pull-right"></a>
            <a href="#" class="list-group-item">Another <input type="checkbox" class="pull-right"></a>
          </div>
        </div>
        <div class="col-md-6">
        Reference
        </div>
      </div>
      <div class="row filterable-list">
        <div class="col-md-12">
          graph network<br>
          graph network<br>
          graph network<br>
          graph network<br>
          graph network<br>
          graph network<br>
          graph network<br>
        </div>
      </div>
    </div>
  </div>
</div>