<div id="menu-list" class="list-group">
  <a href="#" class="list-group-item" ng-href="#/documents/{{Page.documentId}}/overview">Overview</a>
  <a href="#" class="list-group-item" ng-href="#/documents/{{Page.documentId}}/characters">Characters</a>
  <a href="#" class="list-group-item" ng-href="#/documents/{{Page.documentId}}/places">Places</a>
  <a href="#" class="list-group-item" ng-href="#/documents/{{Page.documentId}}/fingerprint">Fingerprint</a>
  <a href="#" class="list-group-item" ng-href="#/documents/{{Page.documentId}}/graphnetwork">Graph-Network</a>
  <a href="#" class="list-group-item" ng-href="#/documents/{{Page.documentId}}/wordcloud">Word Cloud</a>
  <a href="#" class="list-group-item" ng-href="#/documents/{{Page.documentId}}/documentview">
    Document <span class="glyphicon glyphicon-new-window"></span>
  </a>
</div>