<div class="row">
  <div class="col-md-2">
    <div ng-include="'partials/menu.html'"></div>
  </div>
  <div class="col-md-10">
    <div class="row">
      <div class="col-md-7">
        <dl>
          <dt>Author:</dt>
          <dd>{{prepareAttributeForView(document.metadata.author)}}</dd>
        </dl>
        <dl>
          <dt>Published:</dt>
          <dd>{{prepareAttributeForView(document.metadata.publishYear)}}</dd>
        </dl>
        <dl>
          <dt>Number of chapters:</dt>
          <dd>{{prepareAttributeForView(document.metrics.chapterCount)}}</dd>
        </dl>
        <dl>
          <dt>Number of words:</dt>
          <dd>{{prepareAttributeForView(document.metrics.wordCount)}}</dd>
        </dl>
        <dl>
          <dt>Main characters:</dt>
          <dd>
            <ul class="list-inline">
              <li ng-repeat="person in persons | orderBy: 'rankingValue' | limitTo: 5"><a
                href="#/documents/{{Page.documentId}}/characters/{{person.id}}"
                class="listed-character {{CssClass.forRankingValue(person.rankingValue)}}">
                  {{person.displayName}}</a></li>
            </ul>
          </dd>
        </dl>
      </div>
      <div class="col-md-5">
        <div class="row">
            <a ng-href="#/documents/{{document.id}}/characters" class="link-to-visualization col-md-6 col-sm-6 col-xs-6"> <span
              data-progress-status data-status="progress.persons"
              data-image="img/Vita-Characters.png" data-title="Characters"></span>
            </a>
            
            <a ng-href="#/documents/{{document.id}}/places" class="link-to-visualization col-md-6 col-sm-6 col-xs-6"> <span
              data-progress-status data-status="progress.places"
              data-image="img/Vita-Places.png" data-title="Places"></span>
            </a>
            
            <a ng-href="#/documents/{{document.id}}/fingerprint" class="link-to-visualization col-md-6 col-sm-6 col-xs-6"> <span
              data-progress-status data-status="progress.fingerPrints"
              data-image="img/Vita-Fingerprint.png" data-title="Fingerprint"></span>
            </a>
            <a ng-href="#/documents/{{document.id}}/graphnetwork" class="link-to-visualization col-md-6 col-sm-6 col-xs-6"> <span
              data-progress-status data-status="progress.graphView"
              data-image="img/Vita-GraphNetwork.png" data-title="Graph-Network"></span>
            </a>
            
            <a ng-href="#/documents/{{document.id}}/wordcloud" class="link-to-visualization col-md-6 col-sm-6 col-xs-6"> <span
              data-progress-status data-status="progress.wordCloud"
              data-image="img/Vita-WordCloud.png" data-title="Word Cloud"></span>
            </a>
            
            <a href="" ng-click="openDocumentView()" class="link-to-visualization col-md-6 col-sm-6 col-xs-6"> <span
              data-progress-status data-status="progress.text"
              data-image="img/Vita-Document.png" data-title="Document"></span>
            </a>
        </div>
      </div>
    </div>
  </div>
</div>
