<div class="row">
  <div class="col-md-2">
    <div ng-include="'partials/menu.html'"></div>
  </div>
  <div class="col-md-8">
    <div class="col-md-10">
      <div class="row">
        <h1><small><span class="glyphicon glyphicon-user"></span></small> {{selected.displayName}}</h1>
        <dl class="dl-horizontal">
          <div ng-repeat="attribute in selected.attributes" ng-show="!$first">
            <dt>{{attribute.attributetype}}</dt>
            <dd>{{attribute.content}}</dd>
          </div>
        </dl>
        <dl class="dl-horizontal" ng-hide="relatedEntities.length == 0">
          <dt>co-occurences</dt>
          <dd><div ng-repeat="entity in relatedEntities | limitTo: 5">
            <a ng-href="#/documents/{{document.id}}/{{getEntityType(entity)}}/{{entity.id}}">
              {{entity.displayName}}
            </a>
            <span ng-click="setFingerprint(entity.id)" class="glyphicon glyphicon-plus"
              ng-class="{'marked': isMarked(entity.id)}" aria-hidden="true"
              title="Add this entity to the fingerprint"></span>
          </dd>
        </dl>
      </div>
      <div class="row">
        <div data-fingerprint-top-row></div>
        <div data-fingerprint class="fingerprint-container" data-entity-ids="fingerprintIds" data-parts="parts"></div>
      </div>
    </div>
  </div>
  <div class="col-md-2">
    <div class="row">
      <input type="search" ng-model="search" placeholder="Search..." class="form-control filter">
      <div class="list-group scrollable-list-group">
        <a ng-repeat="person in persons | entityNameFilter:search | orderBy: 'rankingValue' "
          class="list-group-item" ng-class="{active: isSelected(person)}" ng-href="#/documents/{{document.id}}/characters/{{person.id}}">
          {{person.displayName}}
        </a>
      </div>
    </div>
  </div>
</div>
