<div class="container">
  <div class="row">
    <div class="col-md-2">
      <div ng-include="'partials/menu.html'"></div>
    </div>
    <div class="col-md-10">
      <div class="row">
          <dl class="dl-horizontal" ng-repeat="attribute in person.attributes">
            <dt>{{attribute.type}}</dt>
            <dd>{{attribute.content}}</dd>
          </dl>
      </div>
      <div class="row">
        <div data-fingerprint class="fingerprint-container" data-occurrences="occurrences"data-parts="parts"></div>
      </div>
    </div>
  </div>
</div>
