<div class="row">
  <div class="col-md-2">
    <div ng-include="'partials/menu.html'"></div>
  </div>
  <div class="col-md-10">
    <div class="row filterable-list">
      <input type="search" ng-model="search" placeholder="Search..." class="form-control filter">
      <ul>
        <li ng-repeat="place in places | entityNameFilter:search | orderBy: 'rankingValue' ">
          <a href="#/documents/{{Page.documentId}}/places/{{place.id}}">
            {{place.displayName}}
            <span ng-show="place.alternativeName">({{place.alternativeName}})</span>
          </a>
        </li>
      </ul>
      <div id="document-loading-spinner" ng-hide="places.length != 0">
        <span class="glyphicon glyphicon-refresh spin"></span>
      </div>
    </div>
  </div>
</div>
