<p class="tutorial-intro-description">
  Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut
  aliquip ex ea commodo
  consequat.
</p>

<div id="tutorial-navigation">
  <h3>Contents</h3>
  <ul>
    <li><a ng-href="#/tutorial#overview">Overview</a></li>
    <li><a ng-href="#/tutorial#graphnetwork">Graph Network</a></li>
  </ul>
</div>


<div class="tutorial-section">
  <h2 id="overview" class="section-headline">Overview</h2>
  <div class="section-image">
    <img src="/img/tutorial/tutorial--overview.png" alt="Image for the fingerprint visualization">
  </div>

  <p class="section-paragraph">
    <span class="number">1</span>
    <span class="text">
	  The list of offered interaction possibilities, including the <strong>Fingerprint</strong>, the <strong>Graph Network</strong>, the <strong>Word Cloud</strong>, the <strong>Plot View</strong> and the profile of a character/place
    </span>
    <br/>
    <br/>
    <span class="number">2</span>
    <span class="text">
	  The general information about the document:¬¬ the name of the author, the publish year, the main characters, the number of chapters and the total count of words
    </span>
    <br/>
    <br/>
    <span class="number">3</span>
    <span class="text">
	  The corresponding pictures to the list of offered interaction
    </span>
    <br/>
    <br/>
      The <strong>Overview</strong> – a document is imported/chosen and the analysis and interaction can start.
	  This view gives the user some general facts about the document, for example the most frequent occurred characters. Furthermore the <strong>Overview</strong> gives you links to the various analyzations. 
 	  Thereby, the user has the opportunity to choose the right label in the list of interaction possibilities on the left, or he can select the corresponding picture.
	  Besides the <strong>Overview</strong>, the tool ViTA offers 7 other views on the chosen document.
  </p>

</div>
<div class="tutorial-section">
  <h2 id="graphnetwork" class="section-headline">Graph Network</h2>
  <div class="section-image">
    <img src="/img/tutorial/tutorial--graphnetwork.png" alt="Image for the graphnetwork visualization">
  </div>

  <p class="section-paragraph">
    <span class="number">1</span>
    <span class="text">
	  The list of offered interaction possibilities, including the Fingerprint, the Graph Network, the Word Cloud, the Plot View and the profile of a character/place
    </span>
    <br/>
    <br/>
    <span class="number">2</span>
    <span class="text">
	  The general information about the document:¬¬ the name of the author, the publish year, the main characters, the number of chapters and the total count of words
    </span>
    <br/>
    <br/>
    <span class="number">3</span>
    <span class="text">
	  The corresponding pictures to the list of offered interaction
    </span>
    <br/>
    <br/>
      The visualization <strong>Graph Network</strong> is a representation with nodes and edges of the connection between the characters in the document. Each node represents a character and each edge represents the connection between the two characters. 
      The more important the character, the bigger the node. The more the characters occurs together in a sentence, the wider the edge between the nodes. 
      Right at the start, the most important characters (with the maintained color) are already selected and shown in the visualization. 
      The most common characters with the assigned color are shown in the <strong>Graph Network</strong> with the same color.
 	  The user can add more characters to his selection or deselect characters by clicking on the desired name in the list on the right. With the selection, the border of the name is getting fat.
 	  If the user clicks on an edge between two nodes, the Fingerprint between the two characters will be displayed above the <strong>Graph Network</strong>. 
 	  With a click on the citation in the Fingerprint, the user is forwarded to the Document.

  </p>

</div>