<div class="row">
  <div class="col-md-2">
    <div ng-include="'partials/menu.html'"></div>
  </div>
  <div class="col-md-8">
    <h1 class="text-center">
     <span ng-show="activeWordcloud == 'global'">Global</span>
     <span ng-show="wordcloudPerson">
        <a ng-href="#/documents/{{Page.documentId}}/characters/{{wordcloudPerson.id}}"
           class="listed-character {{CssClass.forRankingValue(wordcloudPerson.rankingValue)}}">
          {{wordcloudPerson.displayName}}</a>
     </span>
      Wordcloud
    </h1>
    <div class="loading-spinner" ng-hide="loaded()">
        <span class="glyphicon glyphicon-refresh spin"></span>
    </div>
    <div data-wordcloud class="wordcloud-container" data-items="wordcloud" ng-show="loaded()"></div>
  </div>
  <div class="col-md-2">
    <input type="search" ng-model="search" placeholder="Search..." class="form-control"
      style="margin-bottom: 5px">
    <div class="list-group scrollable-list-group" id="list1">
      <a href="" class="list-group-item" ng-class="{'active': activeWordcloud == 'global'}"
        ng-click="loadGlobalWordcloud()">global</a>
      <a href="" ng-repeat="person in persons | entityNameFilter:search | orderBy: 'rankingValue'"
        ng-click="loadPersonWordcloud(person)" ng-class="{'active': activeWordcloud == person.id}"
        class="list-group-item listed-character {{CssClass.forRankingValue(person.rankingValue)}}">
        {{person.displayName}}
        <span ng-show="person.alternativeName">({{person.alternativeName}})</span>
      </a>
    </div>
    <div class="loading-spinner" ng-hide="persons.length">
      <span class="glyphicon glyphicon-refresh spin"></span>
    </div>
  </div>
</div>
