<!DOCTYPE html>
<html ng-app="vita" ng-controller="DocumentViewCtrl">
<head>
<meta charset="utf-8">
<title>ViTA - Document</title>
<link rel="stylesheet" type="text/css" href="css/bootstrap.css">
<link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body id="document-view">
  <div class="container-fluid" id="document-view-header">
    <h2 class="document-title">{{document.metadata.title}}</h2>
  </div>
  <div class="container-fluid" id="document-view-main">
    <div class="row" style="height: 100%">
      <div class="col-sm-3 document-view-menu" data-menu-scroll-highlighting
          data-menu-selector=".part, .chapter" data-scroll-container-id="document-view-main">
        <div class="dv-menu-fixed-wrap">
          <div data-ng-repeat="part in parts">
            <h3 class="part" data-ng-class="{'active-menu': $first}">
              <a href="#part-{{part.number}}">
                Part {{part.number}} {{part.title ? ' - ' + part.title : ''}}
              </a>
            </h3>
            <div class="chapter" data-ng-class="{'active-menu': $parent.$first && $first}"
                data-ng-repeat="chapter in part.chapters">
              <a href="#chapter-{{chapter.id}}">
                <span class="chapter-number">({{chapter.number}})</span>{{chapter.title}}
              </a>
            </div>
          </div>
        </div>
      </div>
      <div data-document-view-highlighter data-parts="parts" data-document-id="document.id"
        data-selected-occurrence-index="selectedOccurrenceIndex"
        data-occurrences="occurrences"  data-entities="entities" class="col-sm-9 document-view-text">
        <div id="part-{{part.number}}" data-part data-ng-repeat="part in parts"
          data-part-data="part" data-document-id="document.id"></div>
      </div>
    </div>
  </div>
  <div class="container-fluid" id="document-view-footer">
    <form role="search">
      <input type="text" class="form-control query-input" ng-model="query" placeholder="Search the text for...">
      <button type="submit" class="btn btn-default" ng-click="search()">
        <span class="glyphicon glyphicon-search"></span> <span class="search-button-label">Search</span>
      </button>
      <span class="result-count" ng-show="resultCount >= 0">
        {{resultCount}} results found.
      </span>
      <div class="up-down-navigation" ng-show="resultCount >= 0">
        <button class="btn btn-default" ng-click="up()" ng-disabled="resultCount === 0">
          <span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span>
        </button>
        <button class="btn btn-default" ng-click="down()" ng-disabled="resultCount === 0">
          <span class="glyphicon glyphicon-arrow-down" aria-hidden="true"></span>
        </button>
      </div>
    </form>
  </div>

  <script src="js/jquery.js"></script>
  <script src="js/jquery.mousewheel.js"></script>
  <script src="js/bootstrap.js"></script>
  <script src="js/d3.js"></script>
  <script src="js/angular.js"></script>
  <script src="js/angular-route.js"></script>
  <script src="js/angular-resource.js"></script>
  <script src="js/angular-mocks.js"></script>
  <script src="js/vita.js"></script>
</body>
</html>
