/*
 * Color definitions that are used on several pages
 */

/* background color for the body of the page */
@body-background-color: #ffffff;

/* background color for several containers */
@light-grey-background-color: #F8F8F8;

/* color of the book title headline */
@book-title-color: rgb(168, 168, 168);

/* light grey color for borders */
@border-color: rgb(231, 231, 231);


/* colors for character ranking values */
@default-character-ranking-color: grey;
@character-ranking-color-1: #e41a1c; /* red */
@character-ranking-color-2: #377eb8; /* blue */
@character-ranking-color-3: #4daf4a; /* green */
@character-ranking-color-4: #984ea3; /* purple */
@character-ranking-color-5: #ff7f00; /* orange */
@character-ranking-color-6: #934E27; /* brown */
@character-ranking-color-7: #f781bf; /* pink */
