/*
 * Color definitions that are used on several pages
 */

/* background color for the body of the page */
@body-background-color: #ffffff;

/* background color for several containers */
@light-grey-background-color: #F8F8F8;

/* color of the book title headline */
@book-title-color: rgb(168, 168, 168);

/* light grey color for borders */
@border-color: rgb(231, 231, 231);