@import '../bower_components/bootstrap/less/variables.less';

@document-view-header-height: 65px;
@document-view-footer-height: 50px;
@document-view-footer-height-expanded: 95px;

body#document-view {
  padding: @document-view-header-height 0 @document-view-footer-height-expanded 0;

  @media (min-width: @screen-sm) {
    padding-bottom: @document-view-footer-height;
  }
}

#document-view-header,
#document-view-footer {
  position: fixed;
  box-sizing: border-box;
  width: 100%;
}

#document-view-header {
  height: @document-view-header-height;
  border-bottom: 1px solid @border-color;
  top: 0;

  .document-title {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

#chapters-toggle-button {
  float: right;
  margin-top: 12px;
  
  @media (min-width: @screen-sm) {
    display: none;
  }
}

#document-view-footer {
  height: @document-view-footer-height-expanded;
  bottom: 0;
  border-top: 1px solid @border-color;
  
  form {
    margin-top: 8px;
    
    .query-input {
      margin-bottom: 10px;
      display: inline-block;
      width: 100%;
      vertical-align: top;
    }
    
    .result-count {
      display: inline-block;
      margin-left: 5px;
    }
    
    @media (min-width: @screen-sm) {
      .query-input {
        width: 25%;
        max-width: none;  
      }
    }
  }
  
  .up-down-navigation {
    display: inline-block;
  }

  @media (min-width: @screen-sm) {
    height: @document-view-footer-height;
  }
}

#document-view-main {
  overflow: auto;
  height: 100%;
  
  .document-view-menu {
    z-index: 100;
    
    .chapter {
      padding-left: 3px;
      margin-bottom: 5px;
      
      .chapter-number {
        color: grey;
        display: inline-block;
        margin-right: 5px;
      }
    }
    
    .chapter.active-menu {
      background-color: @light-grey-background-color;
      font-weight: bold;
      padding: 1px 6px;
    }
    
    .part.active-menu {
      font-weight: bold;
    }
  }
 
  .document-view-text {
    background-color: @light-grey-background-color;
    overflow: hidden;
  
    .chapter-headline, .part-headline {
      font-weight: bold;
    }
    
    .chapter-headline {
      padding: 5px;
      border-bottom: 1px solid @border-color;
      border-top: 1px solid @border-color;
      background-color: white;
      margin-top: 30px;
      margin-bottom: 15px;
    }
    
    span {
      background: @default-character-ranking-color;
    }
    
    span.occurrence {
      background: @document-view-occurrence-color;
    }

    span.ranking-1 {
      background: @character-ranking-color-1;
    }

    span.ranking-2 {
      background: @character-ranking-color-2;
    }

    span.ranking-3 {
      background: @character-ranking-color-3;
    }

    span.ranking-4 {
      background: @character-ranking-color-4;
    }

    span.ranking-5 {
      background: @character-ranking-color-5;
    }

    span.ranking-6 {
      background: @character-ranking-color-6;
    }

    span.ranking-7 {
      background: @character-ranking-color-7;
    }
    
    span.selected {
      background: black;
      color: white;
    }
  }

  .dv-menu-fixed-wrap {
    display: none;
    position: fixed;
    width: 50%;
    overflow-y: auto;
    background: white;
    border-left: 1px solid @border-color;
    border-right: 1px solid @border-color;
    top: @document-view-header-height;
    bottom: @document-view-footer-height-expanded;
    right: 0;
    padding-left: 10px;

    @media (min-width: @screen-sm) {
      bottom: @document-view-footer-height;
    }
  }

  @media (min-width: @screen-sm) {
    .document-view-menu {
      margin-bottom: 0;
      height: 100%;
      
      .dv-menu-fixed-wrap {
        display: block !important;
        width: inherit;
        max-height: none;
        border: 0;
        border-right: 20px solid transparent;
        background: none;
        right: initial;
        padding-left: 0;
      }
    }
    
    .document-view-text {
      border-left: 1px dashed @border-color;
      min-height: 100%;
    }
  }
}
