/*
 * Styles for the documents partial
 */

.text-upload-form {
  .highlight;
  margin-bottom: 40px;
  
  label {
    font-size: @h2-font-size;
    font-weight: normal;
    margin-bottom: 10px;
  }
}

.document-status-icon {
  margin-right: 10px;
}

.document-delete-icon {
  margin-left: 15px;
}

.document-preview-text {
  display: block;
  margin-bottom: 30px;
  max-height: 280px;
  overflow: auto;
}