.link {
  cursor: pointer;
  stroke: blue;
  stroke-width: 10px;
}

.node {
  fill: @default-character-ranking-color;
}

.node.ranking-1 {
  fill: @character-ranking-color-1;
}

.node.ranking-2 {
  fill: @character-ranking-color-2;
}

.node.ranking-3 {
  fill: @character-ranking-color-3;
}

.node.ranking-4 {
  fill: @character-ranking-color-4;
}

.node.ranking-5 {
  fill: @character-ranking-color-5;
}

.node.ranking-6 {
  fill: @character-ranking-color-6;
}

.node.ranking-7 {
  fill: @character-ranking-color-7;
}

.graph-network-container {
  display: block;
}
