/*
 * Helper classes and tiny stylings we need on some pages
 */
 
.highlight {
  background-color: @light-grey-background-color;
  border: 1px solid @border-color;
  padding: 10px;
}

/*
 * Text of a document
 */
.document-text {
  white-space: pre-line;
  word-wrap: break-word;
}

/*
 * Can be used to add horizontal margin to a row
 */
.top-buffer {
  margin-top: 20px;
}

/*
 * Extends the bootstrap list-group by limiting the height
 */
.scrollable-list-group {
    max-height: 412px;
    overflow-y:auto;
}

/*
 * Bootstrap overrides for the design of ranking values in a list-group
 */
.list-group {
  .list-group-item.listed-character {
    background-color: white;
  }
  
  .list-group-item.active.listed-character {
    color: black;
    background-color: white;
    border-color: @default-character-ranking-color;
  }
  
  .list-group-item.active.listed-character.ranking-1 {
    border-color: @character-ranking-color-1;
  }
  
  .list-group-item.active.listed-character.ranking-2 {
    border-color: @character-ranking-color-2;
  }
  
  .list-group-item.active.listed-character.ranking-3 {
    border-color: @character-ranking-color-3;
  }
  
  .list-group-item.active.listed-character.ranking-4 {
    border-color: @character-ranking-color-4;
  }
  
  .list-group-item.active.listed-character.ranking-5 {
    border-color: @character-ranking-color-5;
  }
  
  .list-group-item.active.listed-character.ranking-6 {
    border-color: @character-ranking-color-6;
  }
  
  .list-group-item.active.listed-character.ranking-7 {
    border-color: @character-ranking-color-7;
  }
}

.spin {
    -webkit-animation: spin 2000ms infinite linear;
    animation: spin 2000ms infinite linear;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(359deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(359deg);
    }
}