/*
 * Design of the document overview
 */

.overview-preview-images {
    @preview-image-width: 152px;
    @smaller-preview-image-width: 120px;
    @smaller-preview-image-breakpoint: 370px;
    
    .link-to-visualization {
      display: block;
      position: relative;
    }

    .image-overlay-wrap {
        position: relative;
        overflow: hidden;
        display: inline-block;

        img {
            border: 1px solid @border-color;
            max-width: @preview-image-width;
        }

        .status-wrap {
            position: absolute;
            top: 15px;
            left: 0;
            width: 100%;
            background-color: rgba(0, 0, 0, 0.3);
            border-top: 1px solid grey;
            border-bottom: 1px solid grey;

            .status {
                display: block;
                font-size: 32px;
                color: white;
                text-align: center;
                text-shadow: 1px 1px 0 black;
            }

            .progress-border {
                display: block;
                border-top: 4px solid dodgerblue;
            }

        }
    }
    
    .description {
      display: block;
      text-align: center;
    }
    
    h4 {
      width: @preview-image-width;
      text-align: center;
      margin-top: 10px;
      margin-bottom: 20px;
    }
    
    img, h4, .status {
      @media (max-width: @smaller-preview-image-breakpoint) {
        width: @smaller-preview-image-width;
        max-width: @smaller-preview-image-width;
      }
    }
}