.overview-preview-images {
  .preview {
    float: left;
    margin-right: 10px;
    margin-bottom: 20px;
  
    img {
      border: 1px solid @border-color;
      margin-bottom: 5px;
    }
    
    .description {
      display: block;
      text-align: center;
    }
  }
}