.analysis-parameter {

  .analysis-parameter-title {
    font-weight: bold;
    color: gray;
    font-size: 18px;
  }

  .parameter-list {
    border: 1px solid @border-color;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
  }

  label {
    font-weight: inherit;
  }
}

.boolean-parameter {
  padding-left: 5px;
}

.number-parameter {
  padding-left: 5px;
}

.enum-parameter {
  padding-left: 5px;
}

.string-parameter {
  padding-left: 5px;
}

.parameter-label {
  padding-right: 5px;
}

#show-analysis-parameters {
  margin-bottom: 15px;
}
