.wordcloud-container {
  text {
    font-family: Impact;
    text-anchor: middle;
    cursor: pointer;
    fill: gray;
  }

  text.ranking-1 {
    fill: @character-ranking-color-1;
  }

  text.ranking-2 {
    fill: @character-ranking-color-2;
  }

  text.ranking-3 {
    fill: @character-ranking-color-3;
  }

  text.ranking-4 {
    fill: @character-ranking-color-4;
  }

  text.ranking-5 {
    fill: @character-ranking-color-5;
  }

  text.ranking-6 {
    fill: @character-ranking-color-6;
  }

  text.ranking-7 {
    fill: @character-ranking-color-7;
  }

  text:hover {
    opacity: 0.5;
  }
}